[Unit]
Description=libvirtd
After=rpcbind.service
After=docker.service
After=mnt-usb0-libvirt.mount
Requires=docker.service
Requires=mnt-usb0-libvirt.mount

[Service]
TimeoutStartSec=0
Restart=always
StandardInput=tty-force
ExecStartPre=-/usr/bin/docker stop libvirtd
ExecStartPre=-/usr/bin/docker rm -f libvirtd
ExecStart=/usr/bin/docker run --name libvirtd --privileged --net=host -ti -e 'container=docker' \
-v /proc/modules:/proc/modules -v /mnt/usb0/libvirt/:/var/lib/libvirt/ \
-v /sys/fs/cgroup:/sys/fs/cgroup:rw libvirtd
ExecStop=/usr/bin/docker stop libvirtd

[Install]
WantedBy=multi-user.target
